@import url('https://justinduan.com/css/fonts/stylesheet.css');
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: calc(28 / 18);
  color: #323232;
  font-size: 18px;
  font-family: 'Archer';
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 100ms ease-out;
  border-bottom: 2px solid transparent;
  background: transparent;
}

a:hover,
a:active,
a:focus {
  border-bottom: 2px solid;
  border-bottom-color: inherit;
  color: inherit;
}

h1 {
  font-size: 28px;
  display: inline-block;
  color: #323232;
  margin-right: 20px;
  margin-bottom: 0px;
}

.header-links {
  display: inline-block;
  font-size: 16px;
  color: #828282;
}

.links {
  font-size: 14px;
}

.content-container {
  display: grid;
  grid-template-columns: minmax(min-content, 768px);
  padding: 40px 128px;
  width: 860px
}

@media screen and (max-width: 640px) {
  .content-container {
    grid-template-columns: 100%;
    padding: 16px;
  }
}

.footnotes {
  margin-top: 30px;
  font-size: 14px;
  color: #888;
  width: 400px;
}
